main {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
  position: relative;
  background-color: var(--orange-red);
}

h1 {
  text-align: center;
}

p {
  padding-left: 1rem;
}

.content {
  width: 75%;
  margin: 0 auto;
}

.premio {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
