<main class="main">
  <h1>Nuestra participación en los carnavales de Santander a los largo de los años</h1>
  <div class="content">
    <app-accordion title="2025: Los Santajuegos">
      <p>3º premio a la comparsa más divertida</p>
      <div class="premio">
        <a routerLink="/premio">
          <img src="assets/premios/premio2025.jpeg" alt="Premio2025" width="230">
        </a>
      </div>
    </app-accordion>
    <app-accordion title="2024: Pescadores">
      <p>5º premio al vehículo más elaborado</p>
      <div class="premio">
        <a routerLink="/premio">
          <img src="assets/premios/premio2024.jpeg" alt="Premio2024" width="250">
        </a>
      </div>
    </app-accordion>
    <app-accordion title="2019: La casa de papel">
      <p></p>
    </app-accordion>
    <app-accordion title="2018: Niños de San Ildefonso">
      <p></p>
    </app-accordion>
    <app-accordion title="2017: Granjeros">
      <p></p>
    </app-accordion>
    <app-accordion title="2016: Mariquitas">
      <p></p>
    </app-accordion>
    <app-accordion title="2015: Bombonas de butano">
      <p></p>
    </app-accordion>
    <app-accordion title="2014: Sevillanas">
      <p>Reconocimiento a la simpatía, creatividad y dedicación</p>
      <div class="premio">
        <a routerLink="/premio">
          <img src="assets/premios/premio2014.jpeg" alt="Premio2014" width="300">
        </a>
      </div>
    </app-accordion>
  </div>
</main>