<main class="main">
  <h1>Nuestra participación en los carnavales de Santander a los largo de los años</h1>
  <div class="content">
    <app-accordion title="2025: Los Santajuegos">
      <p>Angular es un framework para construir aplicaciones web modernas y reactivas.</p>
    </app-accordion>
    <app-accordion title="2024: Pescadores">
      <p>Los componentes standalone permiten escribir componentes sin necesidad de un módulo.</p>
    </app-accordion>
    <app-accordion title="2023: ">
      <p>Los componentes standalone permiten escribir componentes sin necesidad de un módulo.</p>
    </app-accordion>
    <app-accordion title="2019: La casa de papel">
      <p>Los componentes standalone permiten escribir componentes sin necesidad de un módulo.</p>
    </app-accordion>
    <app-accordion title="2018: Niños de San Ildefonso">
      <p>Los componentes standalone permiten escribir componentes sin necesidad de un módulo.</p>
    </app-accordion>
    <app-accordion title="2017: Granjeros">
      <p>Los componentes standalone permiten escribir componentes sin necesidad de un módulo.</p>
    </app-accordion>
    <app-accordion title="2016: Mariquitas">
      <p>Los componentes standalone permiten escribir componentes sin necesidad de un módulo.</p>
    </app-accordion>
    <app-accordion title="2015: Bombonas de butano">
      <p>Los componentes standalone permiten escribir componentes sin necesidad de un módulo.</p>
    </app-accordion>
    <app-accordion title="2014: Sevillanas">
      <p>Los componentes standalone permiten escribir componentes sin necesidad de un módulo.</p>
    </app-accordion>
  </div>
</main>